/* 	Couleur Bouton Condorcet	: #00868A 
	Couleur Texte Bouton 		: #FFFFFF
	Couleur Ecriture PlaceHolder: #878787
*/
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	background-image: url("../image/imgCondorcer.jpg");
}

input[type=submit] {
	height: auto;
	width: 99%;
	margin-top: 1%;
	margin-left: 1%;
	background-color: #00868A;
	color: #FFFFFF;
	border-color: #878787;
	border: solid 1px;
	border-radius: 10px;
	float: left;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #FFFFFF;
	color: #00868A;
}

input[type=text], input[type=password] {
	height: auto;
	width: 100%;
	margin-top: 1%;
	border-radius: 6px;
	border-color: #00868A;
}

#page {
	height: 26%;
	width: 34%;
	margin-top: 10%;
	margin-left: 33%;
	background-color: #ffffff;
}

img {
	width: 50%;
	height: auto;
}

.erreur {
	text: Arial;
	text-size: 100px;
	background-color: #ffffff;
	color: #900;
}