<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>Servlets.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Acceuille</servlet-name>
    <servlet-class>Servlets.Acceuille</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Acceuille</servlet-name>
    <url-pattern>/acceuille</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServeltInfoStudent_Prof</servlet-name>
    <servlet-class>Servlets.ServeltInfoStudent_Prof</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServeltInfoStudent_Prof</servlet-name>
    <url-pattern>/infoStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateStage</servlet-name>
    <servlet-class>Servlets.CreateStage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateStage</servlet-name>
    <url-pattern>/createStage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletRechercheStage</servlet-name>
    <servlet-class>Servlets.ServletRechercheStage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRechercheStage</servlet-name>
    <url-pattern>/foundStage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletStagiairesDuProf</servlet-name>
    <servlet-class>Servlets.ServletStagiairesDuProf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletStagiairesDuProf</servlet-name>
    <url-pattern>/infoStageProf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletStageInfo</servlet-name>
    <servlet-class>Servlets.ServletStageInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletStageInfo</servlet-name>
    <url-pattern>/stageInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletStageCoordinatrice</servlet-name>
    <servlet-class>Servlets.ServletStageCoordinatrice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletStageCoordinatrice</servlet-name>
    <url-pattern>/totalStage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServeletDisplayStage</servlet-name>
    <servlet-class>Servlets.ServeletDisplayStage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServeletDisplayStage</servlet-name>
    <url-pattern>/displayInfoStage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletDeconnexion</servlet-name>
    <servlet-class>Servlets.ServletDeconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDeconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
</web-app>